header {
	padding-right: 50px;
	padding-left: 50px;
	border-bottom: 3px #000;
}
img {
	float: right;
	margin: 10px 10px 10px 10px;
}

article {
	padding-right: 50px;
	padding-left: 50px;
}	


section {
	padding-left: 75px;
}

main {
	background-color: #efefef;
	font-family: Arial Verdana sans-serif;
}
