header {
	padding-right: 50px;
	padding-left: 50px;
	border-bottom-style: solid;
	border-bottom-width; .5px;
	border-bottom-color: #000;
}
img {
	float: top-right;
	margin: 10px 10px 10px 10px;
}
.p1 {
	margin-top: 15px;
	margin-left: 60px;
	margin-bottom: 15px;
	margin-right: 60px;
	font-size: 15px;
	font-style: italic;
}

article {
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 10px;
}	


section {
	margin: 5px;
	padding-left: 75px;
}

main {
	background-color: #f0f0f5;
	font-family: Arial, Verdana, sans-serif;
	border-radius: 10px 10px 10px 10px;
}
